 <div>
  <label for="password"><span>Password:</span></label> 
  <input autocomplete="off" required type="password" name="password" id="password">
  </div>
  
  <div>
  <label for="password_confirmation">Password Confirmation:</label>  
  <input autocomplete="off" required type="password" name="password_confirmation" id="password_confirmation"
   oninput="validate_password(document.getElementById('password'), this);" 
   onfocus="validate_password(document.getElementById('password'), this);"
  >
  </div>
  