<form action="/role/create" method="POST">
<fieldset id="add-new-role">
<legend>Add A New Role</legend>
  <div>
  <label for="name">Name:</label>
  <input required="required" type="text" name="name" id="name">
  </div>

 <input type="submit" value="Add Role!"/>
</fieldset> 
</form>
